<!DOCTYPE html>
<!--[if lt IE 7]>      
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
<!--[if IE 7]>         
   <html class="no-js lt-ie9 lt-ie8">
      <![endif]-->
<!--[if IE 8]>         
      <html class="no-js lt-ie9">
         <![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="POC - Zuul - Gateway - SSO" />
    <meta name="keywords" content="zuul, gateway, sso, spring-boot, spring-security" />
    <meta name="author" content="Ricardo Ludwig" />
    <title>Autenticação</title>
    <link href="css/main.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="container">

        <section class="login-form">
            <div class="login-popup-heading">
                <h4><i class="fa fa-lock" aria-hidden="true"></i> Login</h4>
            </div>
            <div class="invalid-login" th:if="${param.error}">Usuário e senha inválidos.</div>
            <div class="logout" th:if="${param.logout}">Você foi desconectado.</div>
            <form id="loginMember" role="form" th:action="@{/login}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="user_id" placeholder="e-mail" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="senha" name="password">
                </div>
                <button type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Enviar</button>
            </form>
        </section>

        <section class="footer">
            <div class="copyright">
                <img class="logo" src="img/logo-1x.png">
                <p class="copy">&copy; Agro e-commerce demo.
                    <br/> CNPJ: 00.00.000/0000-00 Todos os direitos reservados.
                </p>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>