<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="POC - Zuul - Gateway - SSO" />
<meta name="keywords" content="zuul, gateway, sso, spring-boot, spring-security" />
<meta name="author" content="Ricardo Ludwig" />

<title>Autenticação</title>

<link href="css/main.css" rel="stylesheet" />

<link
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">

<link href="css/bootstrap.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
	
	<div class="login-popup-wrap new_login_popup">
		<div class="login-popup-heading text-center">
			<h4>
				<i class="fa fa-lock" aria-hidden="true"></i> Login
			</h4>
		</div>
		
		<div class="invalid-login" th:if="${param.error}">Usuário e senha inválidos.</div>

		<div class="logout" th:if="${param.logout}">Você foi desconectado.</div>

		<!--<form accept-charset="utf-8" method="post" action="">-->
		<form id="loginMember" role="form" th:action="@{/login}" method="post">
			<div class="form-group">
				<input type="text" class="form-control" id="user_id"
					placeholder="e-mail" name="username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="password"
					placeholder="senha" name="password">
			</div>
			<button type="submit" class="btn btn-default login-popup-btn"
				name="submit" value="1">Enviar</button>
		</form>

		<div class="form-group text-center">
			<a class="pwd-forget" href="#"
				id="open_forgotPassword">Esqueceu a senha?</a>
		</div>
		<div class="text-center">
			Não tem cadastro ainda?&nbsp <a
				href="#">Clique Aqui</a>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

</body>
</html>

