@charset "UTF-8";

a {
	color: #258b47;
	font-size: 18px;
}

.body {
	background-color: #fff; 
}

.login-popup-heading>h4 {
	color: #258b47;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

.new_reg_popup, .new_login_popup {
	border-radius: 2px;
	min-height: 332px;
	width: 500px;
	margin: 0px auto;
}

.login-popup-btn {
	background: #258b47;
	border: none;
	border-radius: 25px;
	color: #fff;
	display: block;
	font-size: 18px;
	height: 38px;
	line-height: 28px;
	margin: 20px auto 5px;
	width: 150px;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
}

.footer {
  color: #262626;
  padding: 10% 2% 10% 1%;
}

.footer p {
  font-size: 1em;
}

.footer span {
  margin: 2%;
}

.copyright {
  	display: inline-block;
  	width: 55%;
  }

.logo {
  max-width: 40%;
  height: auto;
  background-color: #fff;
}

.invalid-login {
	color: crimson;
	margin-bottom: 3%;
}

.logout {
	color: crimson;
	margin-bottom: 3%;
}