 .clearfix {
     overflow: auto;
}
 .fa-snapchat:before {
     font-family: 'fa-snapchat';
     content: "\e600";
}
 body {
     font-family: "Montserrat", Arial, sans-serif;
}
 header {
     background-color: #0000001a;
     padding: 1% 0 0 0;
     margin: -3% 0 -6% 0;
}
 p {
     font-family: "Open Sans", Arial, sans-serif;
}
 h1 {
     margin: 2%;
}
 h3 {
     margin: 2%;
}
 a {
     color: #1784fb;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -ms-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}
 a:hover, a:focus, a:active {
     outline: none;
     text-decoration: none;
}
 li {
     list-style: none;
}
 .container {
     margin: 0;
     padding: 0;
     margin-top: -2%;
     width: 100%;
}
 .container p {
     font-size: 1.17em;
     font-weight: 400;
     line-height: 1.6;
}
 .btn {
     margin-top:2%;
     margin-bottom:2%;
     border-color: #ffffff;
}
 .btn:hover, .btn:active, .btn:focus {
     background-color: #41495E;
     border-style: solid;
     border-color: #ffffff;
     outline: none;
}
 .reset-margin-top {
     margin-top: 0;
}
 .overlay {
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.6);
     z-index: 4;
}
 .page-planos-h2 {
     margin: 4% 2% 0% 2%;
     text-align: center;
}
 .page-head-p {
     margin: 0 2% 10% 2%;
     text-align: center;
}
 .planos {
     background-color: #58CA7E;
     padding-bottom: 5%;
}
 .plano {
     font-family: "Montserrat", Arial, sans-serif;
     width: 90%;
     padding: 2em 3em;
     margin: 1em;
     color: #262b38;
     background: #fff;
     cursor: default;
     text-align: center;
     overflow: hidden;
     -webkit-box-shadow: 0 0 20px #DFDFDF;
     -moz-box-shadow: 0 0 20px #DFDFDF;
     -ms-box-shadow: 0 0 20px #DFDFDF;
     -o-box-shadow: 0 0 20px #DFDFDF;
     box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     border-radius: 7px;
}
 .plano p {
     font-size: 0.9em;
}
 .plano-titulo {
     font-size: 1.3em;
     letter-spacing: 2px;
     font-weight: 600;
}
 .plano-descricao {
     text-align: center;
     color: #999999;
}
 .moeda {
     font-size: 0.5em;
     vertical-align: super;
}
 .preco {
     font-size: 4em;
     font-weight: 700;
     color: #58ca7e;
     position: relative;
     z-index: 100;
}
 .preco-lista {
     font-size: 0.95em;
     margin: 0;
     padding: 1em 0.5em 1em 0;
     list-style: none;
}
 .preco-feature {
     padding: 0.15em 0;
     font-size: 1.2em;
}
 .preco-periodo {
     font-size: 16px;
     display: inline-block;
     padding: 0 0 0 0.5em;
     color: #000000;
}
 .planos .btn {
     background: #45c46f;
     border: 2px solid #45c46f;
     color: #ffffff;
     font-size: 1.2em;
     font-weight: 600;
}
 .planos .btn:hover, .btn:focus, .btn:active {
     background: #ffffff;
     color: #58ca7e;
     border: 2px solid #58ca7e;
}
 .planos .page-planos-h2 {
     color:#fff;
}
 .planos .page-head-p {
     color: rgb(255, 255, 255);
}
 .checkout .planos {
     background-color: #ffffff;
}
 .checkout .preco {
     color: #494D4A;
}
 .checkou-head {
     margin: 8%;
}
 .checkout-message {
     font-size: 0.96em;
     font-weight: 600;
     padding: 2%;
}
 .paypal-message {
     font-size: 0.8em;
     padding: 2%;
}
 .footer {
     color: #262626;
     padding: 2% 2% 1% 1%;
}
 .footer p {
     font-size: 1em;
}
 .footer span {
     margin: 2%;
}
 .logo {
     max-width: 40%;
     height: auto;
     background-color: #fff;
}
 .contatos {
     margin-bottom: 10%;
}
 .contatos-h3 {
     color: #fff;
     font-family: "Montserrat", Arial, sans-serif;
     font-size: 0.8em;
     letter-spacing: 2px;
     margin-top: 5%;
     margin-bottom: 5%;
     font-weight: 700;
}

.menu {
	background-color: #45c46f;
	margin-bottom: -1.5%;
}
.menu .btn-logout {
	 background: #45c46f;
     border: 2px solid #45c46f;
     color: #ffffff;
     font-size: 1.2em;
     font-weight: 600;
}

.menu .btn:hover, .btn:focus, .btn:active {
     background: #ffffff;
     color: #58ca7e;
     border: 2px solid #58ca7e;
}

/* Breakpoints */
 @media screen and (min-width: 480px) {
     .plano {
         width: 70%;
         margin-left: 15%;
    }
}
 @media screen and (min-width: 560px) {
     .plano {
         width: 70%;
         margin: 2% 0 0 15%;
         display: inline-block;
    }
}
 @media screen and (min-width: 780px) {
     .plano {
         width: 30%;
         margin-left: 1em;
    }
}
 @media screen and (min-width: 1340px) {
     .produtos {
         margin-left: 6em;
    }
}

